@use "theme" as *;
@use "@material/typography" as *;

.innerContainer {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 16px;

  @include sm {
    padding: 8px;
  }
}

.buttonContainer {
  @include github-button-container;
  margin-left: 16px;
  z-index: 1;
  overflow: unset;
}

.willChange {
  will-change: opacity;
  box-sizing: border-box;

  @include sm {
    padding: 8px;
  }
}

.avatarFrame {
  width: 64px;
  height: 64px;
  margin-right: 32px;
  border-radius: 100%;
  overflow: hidden;
  background-color: $background-color;

  @include lg {
    width: 96px;
    height: 96px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  will-change: transform;
  margin-top: 4px;
}

.nameStyle {
  @include typography(headline6);
  margin-right: 16px;
  pointer-events: none;
  overflow: hidden; // FIXME: Too long names push icon back
}

.langStyle {
  @include typography(caption);
  @include property(color, text-hint-on-dark);
  margin-right: 8px;
  pointer-events: none;
}

.langIcon {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 100%;
  display: inline-block;
  pointer-events: none;

  @include lg {
    width: 16px;
    height: 16px;
  }
}
